ErrorDocument 404 /not_found/
<IfModule mod_headers.c>
  Header set Cache-Control "max-age=86400, public"
  <FilesMatch "\.(ico|jpg|jpeg|png|webp)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>
</IfModule>