#logo {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#disclaim {
    margin-top: 2.5%;
    text-align: center;
    background-color: mediumpurple;
    padding: 1.5%;
    border: 5px solid purple;
    border-radius: 50px;
}

#disclaim p {
    margin-top: 5%;
}

a:hover {
    color: rgb(0, 64, 255);
}

.linkClear {
    text-decoration: none;
}

.socialButton {
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#discord {
    min-width: 77px;
    min-height: 21px;
    width: 256px;
    height: 100%;
    background-color: rgb(35, 39, 42);
}

#discord:hover {
    background-color: rgb(42, 45, 48);
}

#spotify {
    min-width: 70px;
    min-height: 21px;
    width: 233px;
    height: 100%;
    background-color: white;
}

#spotify:hover {
    background-color: rgb(240, 236, 236);
}