#header {
    text-align: center;
}

#logo {
    margin-top: 50px;
    width: 750px;
    height: 312px;
}

#disclaim {
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: mediumpurple;
    padding-bottom: 20px;
    border: 5px solid purple;
    border-radius: 50px;
}

a:hover {
    color: rgb(0, 64, 255);
}

.socialButton {
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#discord {
    width: 200px;
    height: 55px;
    background-color: rgb(35, 39, 42);
    margin-right: 10px;
}

#discord:hover {
    background-color:rgb(42, 45, 48)
}

#spotify {
    width: 183px;
    height: 55px;
    background-color: white;
    margin-left: 10px;
}

#spotify:hover {
    background-color: rgb(240, 236, 236);
}