body {
    font-family: Arial, Helvetica, sans-serif;
    font-display: swap;
    color: black;
    background-color: mediumslateblue;
    min-width: 500px;
}

#page-title {
    margin: 1rem;
    text-align: center;
}

.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: left;
    border: 5px solid purple;
    border-radius: 20px;
    background-color: mediumpurple;
}

.header {
    text-align: center;
    margin: 0;
    padding-bottom: 0;
}

.container-fluid {
    padding: 0;
}

.navbar {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-bottom: 88px;
    z-index: 2;
}

.navbar-collapse {
    max-height: 50vh;
}

nav li {
    float: left;
}

#home-logo {
    width: 144px;
    height: 60px;
    margin-bottom: 0;
}

#home {
    cursor: pointer;
    padding: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.nav-item {
    text-align: center;
}

.nav-link {
    color: rgb(170, 155, 255);
    padding-bottom: 0;
    margin: .5rem;
    margin-bottom: 0;
    text-decoration: none;
}

.nomargin {
    margin: 0!important;
    padding: 0!important;
}

.nav-link:hover {
    color: rgb(170, 155, 255);
}

.navigator {
    cursor: pointer;
}

nav .navigator:hover {
    background-color: rgb(115, 3, 115);
}

.current-nav {
    background-color: rgb(100, 0, 100);
}

nav .current-nav:hover {
    background-color: rgb(90, 0, 90);
}

.barImg {
    width: 40px;
    height: 40px;
    margin-bottom: .5rem;
}

#lang-selector-box {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 88px;
}

#lang-selector {
    margin: 8px;
}

#lang-selector-label {
    color: rgb(170, 155, 255);
    font-size: 14px;
}

#lang-select-input {
    font-size: 14px;
    padding: 1px;
    background-color: mediumpurple;
    border-radius: 3px;
}

.bi-list {
    color: white;
}

.navbar-toggler {
    margin-right: 12px;
}

#disclaim{
    text-align: center;
    background-color: palevioletred;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.center {
    text-align: center;
    align-items: center;
}

a {
    color: rgb(10, 0, 155);
    cursor: pointer;
}

a:hover {
    color: rgb(17, 0, 255);
}

h1, h2, h3, th, .th {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: swap;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 2px dashed purple;
}

.table {
    color: black;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    color: black;
}

#list {
    position: sticky;
    top: calc(90px + 2rem);
    padding: 0;
    overflow-y: hidden;
}

#list-table {
    width: 100%;
}

#list-table thead tr {
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid purple;
    background-color: mediumpurple;
}

#list-table tbody tr {
    border-bottom: 2px solid black ;
}

#list-table tbody tr:last-child {
    border-bottom: none;
}

#list-table td {
    padding: .5rem;
}

.list-link:hover {
    cursor: pointer;
    background-color: rgb(132, 97, 202);
}

#list-table .listCurrent {
    background-color: rgb(115, 80, 185);
}

#list-table .listCurrent:hover {
    background-color: rgb(99, 67, 161);
}

#display {
    padding: 1.5rem;
}

.display-heading {
    color: rgb(231, 188, 44);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 2rem;
}

.display-title {
    text-decoration: underline;
    color: rgb(231, 188, 44);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-underline-offset: 2px;
    margin-bottom: 1.5rem;
}

.display-img {
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    margin-bottom: .5rem;
}

.display-img img {
    max-height: inherit;
    border: 3px solid purple;
    border-radius: 30px;
}

#display.row {
    --bs-gutter-x: 0; /* fixes width on mobile? */
}

.simplebar-track {
    cursor: default;
    pointer-events: auto;
}

.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 300px;
    height: 300px;
    border: 20px solid lightgray;
    border-radius: 50%;
    border-top-color: purple;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 971px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

@media (max-width: 970px){
    #home.current-nav, #home.current-nav:hover {
        background-color: unset;
    }

    .navbar-collapse {
        border-top: 2px solid white;
        overflow-y: scroll;
    }

    .nav-item {
        border-bottom: 2px dashed black;
        text-align: left;
    }

    .nav-link {
        padding: 5px;
        font-size: 32px;
        /* text-align: center; */
    }

    .barImg {
        float: left;
        margin-right: 2rem;
        margin-bottom: 0;
    }

    .nav-text-break {
        display: none;
    }

    .nav-item:last-child {
        border-bottom: none;
    }
}

.header-ad {
    text-align: center;
    height: auto;
    min-height: 280px;
    z-index: 1;
}

#header {
    min-height: 368px;
    border-bottom: 2px purple dashed;
}

#filler {
    height: 88px;
}

.thead {
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thead {
    font-size: 2rem;
    border-bottom: 2px solid purple;
    background-color: mediumpurple; 
}

/* toggle switch from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 60px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: purple;
}

input:focus + .slider {
    box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
    -webkit-transform: translateY(-26px);
    -ms-transform: translateY(-26px);
    transform: translateY(-26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch.horizontal {
    width: 60px;
    height: 30px;
}

input:checked + .slider.horizontal:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.horizontal:before {
    left: 4px;
    bottom: 2px;;
}