#logo {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 250px;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.content {
    padding: 10px;
    border-radius: 50px;
}

h3 {
    margin: 1.5rem;
    font-weight: bold;
}

h4 {
    margin: 1.5rem;
}

p {
    margin: 1.5rem;
}

.socialButton {
    padding: .5rem;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    background-color: rgb(35, 39, 42);
    width: 300px;
    height: 97px;
    margin-bottom: 1rem;
}

.socialButton:hover {
    background-color: rgb(42, 45, 48);
}

#credit {
    margin-top: 1rem;
    font-size: 12px;
}

#footer {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 12px;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
}