.genericStatus {
  background-color: lightgray;
}

.statusPending, .statusPendingEdit {
  background-color: lightsalmon;
}

.statusApproved {
  background-color: lightgreen;
}

.statusHidden {
  background-color: gray;
}

.statusDenied {
  background-color: lightcoral;
}