.bigInput {
  overflow: scroll;
  scrollbar-width: none;
  border-color: black;
  background-color: white;
}

@layer base {
  .bigInput {
  width: 100%;
  height: 60px;
  font-size: 24px;
  padding: 2px 8px;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  }
}