.infoContent div[class*="sizes"] {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infoContent div[class*="size-card"] {
  width: 275px; 
  border: 2px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.infoContent div[class*="size-card"]:nth-child(1) {
  background-image: url("@/../public/images/familiars/bug.webp");
}

.infoContent div[class*="size-card"]:nth-child(2) {
  background-image: url("@/../public/images/familiars/rabbit.webp");
}

.infoContent div[class*="size-card"]:nth-child(3) {
  background-image: url("@/../public/images/familiars/dog.webp");
}

.infoContent div[class*="size-card"]:nth-child(4) {
  background-image: url("@/../public/images/familiars/horse.webp");
}