.header {
    margin-bottom: 12px;
}

#weapon-list {
    padding: 0;
    margin-top: 0;
}

#weapon-list table {
    min-height: 400px;
    width: 100%;
    min-width: 925px;
    margin: 0;
}

#weapon-list thead th {
    border-bottom: 1px solid black;
    padding: 0;
    white-space: nowrap;
}

#weapon-list th, #weapon-list td {
    padding: .5rem;
    border-bottom: none;
    border-right: 1px solid purple;
    color: black;
}

#weapon-list th:last-child, #weapon-list td:last-child {
    border-right: unset;
}

#weapon-list tr {
    border-bottom: 1px solid purple;
}

#weapon-list tbody tr:last-child {
    border-bottom: none;
}


.attr {
    text-decoration: underline dotted;
    text-underline-offset: 2px;
}

.attr:hover {
    cursor: help;
}

#popUp {
    position: absolute;
    max-width: 45vw;
    min-width: 170px;
    border: 2px solid black;
    border-radius: unset;
    background-color: rgb(255, 218, 116);
    z-index: 99999; /* make sure popup is above scrollbar */
}

#popUp p {
    margin: 0;
}

.label {
    float: left;
    margin: 8px;
}

.sortBtns {
    float: right;
    margin-right: 8px;
    line-height: 1rem;
    font-size: 20px;
}

.sortBtns i {
    cursor: pointer;
}

#search-box {
    text-align: right;
    margin-right: 15px;
}

#search {
    outline: none;
    border: 1px solid black;
    margin-top: 1rem;
}

#weapon-list th:nth-child(1) {
    width: 8%
}

#weapon-list th:nth-child(2) {
    width: 18%
}

#weapon-list th:nth-child(3) {
    width: 6%
}

#weapon-list th:nth-child(4) {
    width: 20%
}

#weapon-list th:nth-child(5) {
    width: 14%
}

#weapon-list th:nth-child(6) {
    width: 18%
}

#weapon-list th:nth-child(7) {
    width: 16%
}

.simplebar-track.simplebar-horizontal {
    top: 39px; /* move scrollbar to top */
}