.arrowLink {
  clip-path: polygon(0% 20%, 50% 20%, 50% 0%, 100% 50%, 50% 100%, 50% 80%, 0% 80%);
  background-color: var(--color-jj-purple-1);
}

.arrowLink:hover {
  background-color: var(--color-jj-purple-2);
}

.arrowWrapper {
  filter: drop-shadow(1px 0px 0px black)
          drop-shadow(0px 1px 0px black)
          drop-shadow(0px -1px 0px black)
          drop-shadow(-1px -1px 0px black)
          drop-shadow(-1px 1px 0px black)
}

.arrowWrapper:has(.arrowLink:hover) {
  filter: drop-shadow(1px 0px 0px black)
          drop-shadow(0px 1px 0px black)
          drop-shadow(0px -1px 0px black)
          drop-shadow(-1px -1px 0px black)
          drop-shadow(-1px 1px 0px black)
          drop-shadow(3px 6px 3px rgba(25, 25, 0, 0.75));
}