#list-table tbody tr {
    border-bottom: none;
    border-top: 2px solid black ;
}

#list-table tbody tr.stand-type, #list-table tbody tr.non-super {
    display: none;
    padding-left: 1rem;
    background-color: rgb(127, 99, 184);
    font-size: .9rem;
    color: black;
    border-top: 1px dashed black;
}

#list-table tbody tr#Stands, #list-table tbody tr#Non-Supernatural{
    border-bottom: 2px solid black;
}

#list-table tbody tr#Power, #list-table tbody tr#Brawler {
    border-top: none;
}

.stand-type:hover, .non-super:hover {
    background-color: rgb(113, 87, 163);
}

#list-table tbody tr#Non-Supernatural {
    border-bottom: none;
}

#list-table tbody tr#Non-Supernatural.dropped {
    border-bottom: 2px solid black;
}

.dropdown {
    float: right;
}

.display-img img {
    max-width: 100%;
}

.stats {
    width: 75%;
    margin: auto;
}

.table {
    border: 3px solid purple;
}

.table th, .table tbody td {
    border-right: 1px solid purple;
}

.table th:last-child, .table tbody td:last-child {
    border-right: unset;
}

.levels a {
    text-decoration: none;
}

.label {
    margin-bottom: 0;
}

.minor {
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 12px;
}

.minor th:nth-child(3) {
    width: 75px; /* Spin dmg column fix */
}

.minor th, .minor td {
    padding: 2px;
    padding-left: 5px;
}

.minor thead tr {
    background-color: rgb(158, 158, 158);
    color: black;
}

.minor tbody tr {
    background-color: rgb(223, 223, 223);
    color: black;
}

#world thead tr {
    background-color: rgb(100, 187, 100);
    color: black;
}

#world tbody tr {
    background-color: rgb(240, 207, 99);
    color: black;
}

#hiero thead tr {
    background-color: rgb(209, 209, 209);
    color: black;
}

#hiero tbody tr {
    background-color: rgb(108, 180, 93);
    color: black;
}

#hStar thead tr {
    background-color: rgb(99, 99, 99);
    color: black;
}

#hStar tbody tr {
    background-color: rgb(132, 130, 231);
    color: black;
}

#album thead tr {
    background-color: rgb(216, 216, 216);
    color: black;
}

#album tbody tr {
    background-color: rgb(159, 225, 255);
    color: black;
}

#love thead tr {
    background-color: rgb(226, 109, 255);
    color: black;
}

#love tbody tr {
    background-color: rgb(106, 113, 212);
    color: black;
}

#cat thead tr {
    background-color: rgb(88, 194, 102);
    color: black;
}

#cat tbody tr {
    background-color: rgb(219, 128, 207);
    color: black;
}

#anubis thead tr {
    background-color: rgb(255, 217, 92);
    color: black;
}

#anubis tbody tr {
    background-color: rgb(211, 211, 211);
    color: black;
}

#bad thead tr {
    background-color: rgb(60, 168, 69);
    color: black;
}

#bad tbody tr {
    background-color: rgb(118, 214, 134);
    color: black;
}

.echoes thead tr {
    background-color: rgb(108, 180, 93);
    color: black;
}

.echoes tbody tr {
    background-color: rgb(209, 209, 209);
    color: black;
}

#sun thead tr {
    background-color: rgb(255, 179, 117);
    color: black;
}

#sun tbody tr {
    background-color: rgb(255, 245, 157);
    color: black;
}

#gyro thead tr {
    background-color: rgb(144, 75, 207);
    color: black;
}

#gyro tbody tr {
    background-color: rgb(149, 228, 149);
    color: black;
}

#basic thead tr {
    background-color: rgb(158, 158, 158);
    color: black;
}

#basic tbody tr {
    background-color: rgb(223, 223, 223);
    color: black;
}

@media (max-width: 991px) {
    .widen {
        width: 90%;
    }
}