#list-table tbody tr {
    border-bottom: none;
    border-top: 2px solid black;
}

#list-table .stand-type, #list-table .non-super {
    display: none;
    padding-left: 1rem;
    font-size: .9rem;
    border-top: 1px dashed black;
}

.stand-type, .non-super {
    background-color: rgb(127, 99, 184);
}

#list-table tr#Stands, #list-table tr#Non-Supernatural{
    border-bottom: 2px solid black;
}

#list-table tr#Power, #list-table tr#Artisan {
    border-top: none;
}

.stand-type:hover, .non-super:hover {
    background-color: rgb(113, 87, 163);
}

#list-table tr#Non-Supernatural {
    border-bottom: none;
}

#list-table tr#Non-Supernatural.dropped {
    border-bottom: 2px solid black;
}

.dropdown {
    float: right;
}

.display-img img {
    max-width: 100%;
}

.stats {
    width: 75%;
    margin: auto;
}

.table {
    border: 3px solid purple;
}

.table th, .table tbody td {
    border-right: 1px solid purple;
}

.table th:last-child, .table tbody td:last-child {
    border-right: unset;
}

.levels a {
    text-decoration: none;
}

.levels th:first-child {
    width: 10%; 
}

.levels th:nth-child(2) {
    width: 12%;
}

.levels th:nth-child(4) {
    width: 12%;
}

.levels tr {
    color: black;
}

.levels tbody tr {
    background-color: rgb(209, 209, 209);
}

.label {
    margin-bottom: 0;
}

#levelup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0 8px;
}

#levelup-header h4 {
    display: inline;
    margin: 0;
}

#modular-switch-box {
    display: flex;
    align-items: center;
    gap: 4px;
}

.minor {
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 12px;
}

.minor th:nth-child(3) {
    width: 75px; /* Spin dmg column fix */
}

.minor th, .minor td {
    padding: 2px;
    padding-left: 5px;
}

.minor thead tr {
    background-color: rgb(139, 139, 139);
}

.minor tbody tr {
    background-color: rgb(223, 223, 223);
    color: black;
}

#world thead tr {
    background-color: rgb(240, 207, 99);
}

#hiero thead tr {
    background-color: rgb(108, 180, 93);
}

#hStar thead tr {
    background-color: rgb(132, 130, 231);
}

#album thead tr {
    background-color: rgb(159, 225, 255);
}

#love thead tr {
    background-color: rgb(106, 113, 212);
}

#cat thead tr {
    background-color: rgb(219, 128, 207);
}

#ff thead tr {
    background-color: rgb(77, 224, 84);
}

#bad thead tr {
    background-color: rgb(60, 168, 69);
}

#echoes thead tr {
    background-color: rgb(77, 168, 107);
}

#sun thead tr {
    background-color: rgb(253, 255, 108);
}

#gyro thead tr {
    background-color: rgb(103, 216, 58);
}

#basic thead tr {
    background-color: rgb(158, 158, 158);
}

@media (max-width: 991px) {
    .widen {
        width: 90%;
    }
}