body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: mediumslateblue;
}

.container-fluid {
    padding: 0;
}

.navbar {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
    text-align: center;
}

li {
    float: left;
}

#home-logo {
    width: 144px;
    height: 60px;
    margin-bottom: 0;
}

#home-link {
    padding: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#home-link:hover {
    background-color: rgb(114, 3, 114);
}

.nav-item {
    text-align: center;
}

.nav-item:hover {
    background-color: rgb(114, 3, 114);
}


.nav-link {
    color: rgb(170, 155, 255);
    padding-bottom: 0;
    margin: .5rem;
    margin-bottom: 0;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(170, 155, 255);
}

.barImg {
    height: 40px;
    margin-bottom: .5rem;
}

.barImg a {
    height: 80px;
}

.bi-list {
    color: white;
}

.navbar-toggler {
    margin-right: 12px;
}

#current {
    background-color: rgb(99, 0, 99);
}

#disclaim{
    text-align: center;
    background-color: palevioletred;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.center {
    text-align: center;
}

a {
    color: rgb(10, 0, 155);
}

a:hover {
    color: rgb(17, 0, 255);
}

code {
    background-color: rgb(164, 132, 230);
    border-radius: 5px;
    padding: 2px;
    color: black;
    /* color: rgb(136, 28, 64); */
    font-weight: bold;
}

@media (min-width: 875px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}