h1 {
    margin: 1rem;
}

.content {
    margin-top: 0;
    margin-bottom: 5%;
    padding: 1rem;
    text-align: left;
    background-color: mediumpurple;
    border: 5px solid purple;
    border-radius: 50px;
}

section {
    border-bottom: 2px dashed purple;
    margin: 10px;
}

section#last {
    border-bottom: none;
}
 
.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

ol li {
    float: none;
}