#list-table tbody {
    max-height: 400px;
}

#list-table tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#name {
    width: 50%;
    padding: 5px;
    border-bottom: 2px solid black;
    font-size: 1rem;
}

#stat {
    width: 50%;
    padding: 5px;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    font-size: 1rem;
}

#box1, #box2 {
    float: left;
    padding: 0;
    padding-right: 1rem;
}

#box2 {
    border-left: 2px dashed purple;
    padding-left: 1rem;
}

#example-list {
    margin-bottom: 0;
}

li {
    float: none;
}