/* #statSum {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    max-width: 1000px;
}

#statSum tr, #statSum td {
    border-bottom: 2px solid purple ;
    border-right: 2px solid purple;
    padding: .5rem;
    border-spacing: 0;
    vertical-align: top;
}

#statSum tr td:last-child {
    border-right: none;
}

#statSum tr:last-child > td {
    border-bottom: none;
}

#statSum th {
    padding: .25rem;
    border-bottom: 2px solid purple;
    text-align: center;
    font-weight: unset;
    font-size: 2rem;
}

h3 {
    margin-bottom: 1rem;
}

#statSum td p {
    margin-left: .5rem;
    margin-right: .5rem;
}

span.passion-link {
    cursor: pointer;
    color: rgb(10, 0, 155);
}

span.passion-link:hover {
    color: rgb(17, 0, 255);
} */

#list-table tbody {
    max-height: 400px;
}

#list-table tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#name {
    width: 55%;
    padding: 5px;
    border-bottom: 2px solid black;
    font-size: 1rem;
}

#stat {
    width: 45%;
    padding: 5px;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    font-size: 1rem;
}

#box1, #box2 {
    float: left;
    padding: 0;
    padding-right: 1rem;
}

#box2 {
    border-left: 2px dashed purple;
    padding-left: 1rem;
}

#display.row {
    --bs-gutter-x: 0; /* fixes width on mobile? */
}

#example-list {
    margin-bottom: 0;
}

li {
    float: none;
}