.divider {
  width: auto;
  height: 0;
  border-bottom: 2px dashed purple;
}

.divider:not([class*="mb-"]) {
  margin: 1rem 0;
}

.verticalDivider {
  height: auto;
  width: 0;
  border-right: 2px dashed purple;
  margin: 0 1rem;
}

.verticalDivider:not([class*="mb-"]) {
  margin: 0 1rem;
}