.content {
    text-align: center;
}

#desc {
    margin-bottom: 12px;
}

#header {
    height: 120px;
    border-bottom: 2px dashed purple;
    margin-bottom: 12px;
}

#header div:last-child {
    border-right: none;
}

#load, #save {
    font-size: 1.5rem;
    margin-top: 12px;
    width: 130px;
}

#popLoad, #popSignIn, #popConf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#closeLoad, #closeSignIn, #closeConf {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    color: darkred;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
}

#closeLoad:hover, #closeSignIn:hover, #closeConf:hover {
    font-size: 40px;
    top: 4px;
    right: 4px;
}

#load-window {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    height: 75%;
    box-shadow: -5px 5px 5px 5px black;
}

#login {
    position: relative;
    top: -8px;
    margin: 0;
    float: left;
    color: green;
    font-size: 32px;
    cursor: pointer;
    margin-right: 20px;
}

#login:hover {
    font-size: 36px;
    top: -12px;
    margin-right: 16px;
}

#signIn-window {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    min-width: 250px;
    box-shadow: -5px 5px 5px 5px black;
}

#signIn-window label {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

#form {
    margin-top: 2.5rem;
}

#user, #pass, #conf {
    border: 1px solid black;
    width: 80%;
    height: 30px;
    margin-bottom: 1rem;
    margin-left: .5rem;
    display: inline-block;
}

#signIn, #signUp, .renameBtn, .delBtn {
    width: auto;
    height: 40px;
    border-radius: 2px;
    margin-bottom: 10px;
}

#signIn:hover, #signUp:hover, .renameBtn:hover, .delBtn:hover {
    background-color: rgb(189, 189, 189);
}

#toSignUp, #toSignIn {
    color: rgb(0, 0, 155);
    text-decoration: underline;
    cursor: pointer;
}

#toSignUp:hover, #toSignIn:hover {
    color: blue;
}

#login-failure, #del-failure {
    margin-top: 1rem;
    color: darkred;
    animation: flash 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes flash {
    0%{color:rgb(204, 0, 0)}
    100%{color:darkred}
}

#login-success {
    margin-top: 1rem;
    color: green;
}

#search {
    float: left;
    width: 50%;
    height: 32px;
    text-align: left;
    border: 1px solid black;
}

.option {
    width: 16px;
    height: 16px;
}

#options {
    font-size: 32px;
    line-height: 20px;
}

#pages .divider {
    width: 8.5in;
    margin-left: auto;
    margin-right: auto;
}

#import {
    display: none;
}

.header-btn {
    background-color: rgb(214, 214, 214);
    border: 2px solid black;
    border-radius: 5px;
}

.header-btn:hover {
    background-color: rgb(187, 187, 187);
}


#import-btn, #export-btn {
    font-size: 24px;
    margin: 1rem;
    margin-top: 12px;
}

#download input {
    width: 20px;
    height: 20px;
}

#dl-btn {
    font-size: 1.5rem;
    margin-top: 12px;
}

#hidden-dl {
    display: none;
}

@media (max-width: 1200px) {
    #import-btn, #export-btn {
        margin: 0;
        margin-top: 12px;
    }
}

@media (max-width: 991px) {
    .header-btn {
        font-size: 18px!important;
        margin-top: 20px!important;
    }
    #load, #save {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header-btn {
        font-size: 12px!important;
        margin-top: 30px!important;
    }
    #import-btn, #export-btn {
        margin-top: 7px!important;
        display: block;
        margin: auto;
    }
    #options {
        font-size: 16px;
        line-height: 1  px;
        padding-top: 16px;
    }
}

@media (max-width: 536px) {
    #options {
        font-size:  8px;
        line-height: 8px;
    }
}

@media (max-width: 523px) {
    #options {
        padding-top: 0;
    }
    #options label {
        display: block;
        margin-bottom: 2px;
    }
    #dl-btn {
        margin-top: 22px!important;
    }
}

.center {
    width: 8.5in;
    margin: auto;
}

.page {
    background-color: white;
    width: 8.5in;
    height: 11in;
    padding: 2rem;
    border: 2px solid black;
}

.heading {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

#logo {
    margin-bottom: 8px;
}

#title {
    margin-left: 1rem;
    font-size: 2.5rem;
    vertical-align: bottom;
}

#logo {
    vertical-align: middle;
}

/* arrow removal from https://www.geeksforgeeks.org/how-to-remove-the-default-arrow-icon-from-a-dropdown-list/ */
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
  }

  /* for IE10 */
  select::-ms-expand {
    display: none;
  }

label, .label {
    font-size: 12px;
    white-space: nowrap;
}

input {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border: 3px solid black;
    border-radius: 0;
}

.box {
    width: 100%;
    border: 3px solid black;
    height: 60px;
}

#class, #multi {
    float: left;
    width: 70%;
    text-align: center;
}

#level {
    float: left;
    width: 30%;
    border-left: none;
}

#win, #lose, #pspeed, #sspeed {
    float: left;
    width: 50%;
}

#lose, #skills, #sspeed {
    border-left: none;
}

#won, #lost {
    border: none;
    width: 100%;
    height: 36px;
}

#savebox {
    float: left;
    width: 40%;
}

#skillbox {
    float: left;
    width: 60%;
    border-left: none;
}

#not-prof {
    height: 85%;
    border-bottom: 3px solid black;
    padding-left: 5px;
    padding-top: 2px;
}

#saves, #skills {
    height: 144px;
    text-align: left;
    font-size: 8px;
    line-height: 14px;
}

#stats {
    width: 50%;
    float: left;
    line-height: 17.75px;
}

#checks {
    width: 50%;
    float: left;
}

.savecheck {
    height: 16px;
    width: 12px;
    float: left;
    margin-left: .5rem;
    margin-top: 2px;
}

.save-bonus {
    height: 16px;
    width: 35px;
    float: left;
    margin-left: .5rem;
    margin-top: 2px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 12px;
}

#prof-bonus {
    height: 15%;
    padding-left: 5px;
}

#proflbl, #atkslbl, #insplbl {
    width: 100px;
    float: left;
    padding-top: 3px;
}

#insplbl {
    width: 60px;
}

#bonus, #atks, #insp {
    float: right;
    width: 45px;
    height: 17px;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 5px;
    font-size: 16px;
    padding-top: 3px;
}

#bonus {
    width: 30px;
    margin-right: 2px;
}

#skills-list {
    list-style-type: none;
    columns: 2;
    column-gap: 0;
    padding: 0;
    padding-top: 2px;
}

.skill-bonus {
    height: 12px;
    width: 20px;
    font-size: 10px;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 2px;
}

.skillcheck {
    width: 14px;
    height: 14px;
    font-size: 8px;
    margin-left: 3px;
    text-align: center;
}

.skilllbl {
    font-size: 10px;
}

.skillstat {
    font-size: 8px;
    margin-left: 2px;
}

.stat-mod, .stand-mod {
    height: 50px;
    font-size: 32px;
}

.stat-score, .stand-score {
    height: 30px;
    border-top: none;
}

#atks-box, #insp-box {
    height: 25px;
    border-top: none;
    padding-left: 5px;
}

#atkbox, #invbox {
    height: 301px;
}

#atkbox, #attacklbl, #atks-box, #classlbl, #classbox {
    width: 60%;
    float: left;
}

#invbox, #invlbl, #insp-box, #featlbl, #featsbox {
    width: 40%;
    float: left;
    border-left: none;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    overflow: hidden;
    font-size: 12px;
}

#classbox, #featsbox, #otherbox {
    height: 150px;
}

#pages h2 {
    font-family: sans-serif;
}

#type {
    float: left;
    width: 80%;
}

#Ulevel {
    float: left;
    width: 20%;
    border-left: none;
}

#minionbox {
    height: 225px;
}

#image {
    height: 336px;
}

#Ufeatbox, #Uatkbox {
    height: 475px;
}

#backbox {
    height: 124px;
}

#idealbox, #flawbox {
    width: 50%;
    float: left;
    height: 104px;
}

#idealbox div, #flawbox div {
    height: 104px;
}

#flawbox div {
    border-left: none;
}

#personbox, #relatebox {
    height: 102px;
}

#infobox {
    height: 274px;
}

#image {
    position: relative;
}

#char-img {
    display: none;
    height: 330px;
    width: auto;
}

#img-input {
    display: none;
}

#blur {
    display: none;
    position: absolute;
    width: 358px;
    height: 330px;
    top: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.5);
}

#upload, #edit {
    display: none;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    cursor: pointer;
}

#reset {
    display: none;
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

code {
    color: purple;
}

#response {
    position: fixed;
    left: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin-top: 1rem;
    text-align: center;
    width: 250px;
    animation: slide 0.5s ease-out;
    animation-fill-mode: both;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 2px;
    padding-right: 20px;
}
@keyframes slide {
    0%{bottom:-64px}
    100%{bottom:2rem}
}
#response::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#closeResponse {
    position: absolute;
    color: darkred;
    cursor: pointer;
    font-size: 16px;
    top: 0;
    right: 3px;
}

#response-text {
    text-align: center;
    margin: 0;
}

.success {
    background-color: lightgreen;
}

.failure {
    background-color: palevioletred;
}

#simple {
    height: calc(100% - 3rem - 12px);
}

#charHead {
    width: 100%;
    height: 3rem;
    border-bottom: 2px dashed purple;
    margin-bottom: 12px;
}

#characters, .simplebar-content {
    width: 100%;
    height: 100%;
}

#chars {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charCard {
    height: 250px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: blueviolet;
    margin: 12px;
    cursor: pointer;
    position: relative;
}

.charCard:hover, #newChar:hover {
    box-shadow: -3px 3px 3px 3px black;
}

.curChar {
    box-shadow: -3px 3px 3px 3px yellow;
}

.loadBox {
    width: 100%;
    height: 100%;
}

.charImg {
    height: 90%;
}

.charName {
    border-top: 2px solid black;
    width: 100%;
    height: 10%;
}

.charImgA {
    height: 80%;
}

.charInfo {
    border-top: 2px solid black;
    width: 100%;
    height: 20%;
}

.bi-three-dots-vertical {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    color:rgba(240, 240, 240, 0.5)
}

.bi-three-dots-vertical:hover {
    color: rgba(122, 122, 122, 0.75);
}

.drop {
    display: none;
    position: absolute;
    top: 40px;
    right: 8px;
    text-align: left;
    border: 2px solid black;
    border-radius: 3px;
    background-color: mediumpurple;
}

.drop a {
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
    display: block;
}

.drop a:hover {
    background-color: rgb(118, 87, 180);
}

.drop a:last-child {
    color: darkred;
}

#confirm-window {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    min-width: 250px;
    box-shadow: -5px 5px 5px 5px black;
}

#newName, #confDel {
    height: 45px;
    margin-bottom: 1rem;
}

#newChar {
    position: relative;
    height: 250px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px;
}

#newChar i {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

#multi {
    display: none;
}