#pages {
    height: 3300px;
    text-align: center;
}

.divider {
    width: 8.5in;
    margin-left: auto;
    margin-right: auto;
}

#download {
    text-align: center;
    width: 100%;
}

#dl-btn {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: rgb(214, 214, 214)
}

#dl-btn:hover {
    background-color: rgb(187, 187, 187)
}

#hidden-dl {
    display: none;
}

.page {
    background-color: white;
    width: 8.5in;
    height: 11in;
    padding: 2rem;
    margin: auto;
}

.heading {
    padding: .5rem;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

#title {
    margin-left: 1rem;
    font-size: 2.5rem;
    vertical-align: bottom;
}

#logo {
    vertical-align: middle;
}

label, .label {
    font-size: 12px;
}

input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 3px solid black;
    border-radius: 0;
}

.box {
    width: 100%;
    border: 3px solid black;
    height: 50px;
}

#class {
    float: left;
    width: 70%;
}

#level {
    float: left;
    width: 30%;
    border-left: none;
}

#win, #lose {
    padding-top: 28px;
}

#win, #lose, #pspeed, #sspeed {
    float: left;
    width: 50%;
}

#lose, #skills, #sspeed {
    border-left: none;
}

#savebox {
    float: left;
    width: 45%;
}

#skillbox {
    float: left;
    width: 55%;
    border-left: none;
}

#not-prof {
    height: 85%;
    border-bottom: 3px solid black;
    padding-left: 8px;
}

#saves, #skills {
    height: 124px;
    text-align: left;
    font-size: 8px;
    line-height: 14px;
}

#stats {
    width: 40%;
    float: left;
}

#checks {
    width: 60%;
    float: left;
}

input[type=checkbox] {
    height: 16px;
    width: 12px;
    float: left;
    margin-left: .5rem;
}

.bonus {
    height: 16px;
    width: 50px;
    float: left;
    margin-left: .5rem;
    border: none;
    border-bottom: 2px solid black;
    font-size: 12px;
}

#prof-bonus {
    height: 15%;
    padding-left: 5px;
}

#proflbl {
    width: 67%;
    float: left;
    padding-top: 3px;
}

#bonus {
    float: left;
    width: 30%;
    height: 17px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
}