.content {
    text-align: center;
}

#desc {
    margin-bottom: 12px;
}

#popLoad, #popSignIn, #popConf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#closeLoad, #closeSignIn, #closeConf {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    color: darkred;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
}

#closeLoad:hover, #closeSignIn:hover, #closeConf:hover {
    font-size: 40px;
    top: 4px;
    right: 4px;
}

#load-window {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    height: 75%;
    box-shadow: -5px 5px 5px 5px black;
}

#signIn-window {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    min-width: 250px;
    box-shadow: -5px 5px 5px 5px black;
}

#signIn-window label {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

#user, #pass, #conf {
    border: 1px solid black;
    width: 80%;
    height: 30px;
    margin-bottom: 1rem;
    margin-left: .5rem;
    display: inline-block;
}

#signIn, #signUp, .renameBtn, .delBtn {
    width: auto;
    height: 40px;
    border-radius: 2px;
    margin-bottom: 10px;
}

#signIn:hover, #signUp:hover, .renameBtn:hover, .delBtn:hover {
    background-color: rgb(189, 189, 189);
}

#toSignUp, #toSignIn {
    color: rgb(0, 0, 155);
    text-decoration: underline;
    cursor: pointer;
}

#toSignUp:hover, #toSignIn:hover {
    color: blue;
}

#login-failure, #del-failure {
    margin-top: 1rem;
    color: darkred;
    animation: flash 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes flash {
    0%{color:rgb(204, 0, 0)}
    100%{color:darkred}
}

#login-success {
    margin-top: 1rem;
    color: green;
}

#search {
    float: left;
    width: 50%;
    height: 32px;
    text-align: left;
    border: 1px solid black;
}

.option {
    width: 16px;
    height: 16px;
}

#options {
    line-height: 20px;
    white-space: nowrap;
}

#import {
    display: none;
}

#header {
    border-bottom: 2px dashed purple;
    margin-bottom: 12px;
    align-items: center;
    padding-bottom: 1rem;
}

#header div:last-child {
    border-right: none;
}

.header-btn {
    background-color: rgb(214, 214, 214);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.35rem;
    width: 75%;
    margin: 12px;
}

.header-btn:hover {
    background-color: rgb(187, 187, 187);
}

#header .col-3, #header .col-2 {
    display: flex;
    justify-content: space-around;
}

#header div {
    padding: 0;
}

#download input {
    width: 20px;
    height: 20px;
}

#hidden-dl {
    display: none;
}

@media (max-width: 991px) {
    .header-btn {
        font-size: 1rem;
        padding-left: 12px;
        padding-right: 12px;
        width: auto;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #options {
        line-height: 16px;
    }
    .option {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 767px) {
    #header {
        padding-left: 8px;
        padding-right: 8px;
    }
    .header-btn {
        font-size: 0.6rem;
        border-width: 1px;
        border-radius: 3px;
    }
    #options {
        line-height: 0px;
    }
    #options label {
        font-size: 8px;
    }
    .option {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 536px) {
    #options label {
        font-size: 6px;
    }
    .option {
        width: 8px;
        height: 8px;
    }
}

#response {
    position: fixed;
    left: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin-top: 1rem;
    text-align: center;
    width: 250px;
    animation: slide 0.5s ease-out;
    animation-fill-mode: both;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 2px;
    padding-right: 20px;
}
@keyframes slide {
    0%{bottom:-64px}
    100%{bottom:2rem}
}
#response::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#closeResponse {
    position: absolute;
    color: darkred;
    cursor: pointer;
    font-size: 16px;
    top: 0;
    right: 3px;
}

#response-text {
    text-align: center;
    margin: 0;
}

.success {
    background-color: lightgreen;
}

.failure {
    background-color: palevioletred;
}

#simple {
    height: calc(100% - 3rem - 12px);
}

#charHead {
    width: 100%;
    height: 3rem;
    border-bottom: 2px dashed purple;
    margin-bottom: 12px;
}

#characters, .simplebar-content {
    width: 100%;
    height: 100%;
}

#chars {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charCard {
    height: 250px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: blueviolet;
    margin: 12px;
    cursor: pointer;
    position: relative;
}

.charCard:hover, #newChar:hover {
    box-shadow: -3px 3px 3px 3px black;
}

.curChar {
    box-shadow: -3px 3px 3px 3px yellow;
}

.loadBox {
    width: 100%;
    height: 100%;
}

.charImg {
    height: 90%;
}

.charName {
    border-top: 2px solid black;
    width: 100%;
    height: 10%;
}

.charImgA {
    height: 80%;
}

.charInfo {
    border-top: 2px solid black;
    width: 100%;
    height: 20%;
}

.bi-three-dots-vertical {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    color:rgba(240, 240, 240, 0.5)
}

.bi-three-dots-vertical:hover {
    color: rgba(122, 122, 122, 0.75);
}

.drop {
    display: none;
    position: absolute;
    top: 40px;
    right: 8px;
    text-align: left;
    border: 2px solid black;
    border-radius: 3px;
    background-color: mediumpurple;
}

.drop a {
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
    display: block;
}

.drop a:hover {
    background-color: rgb(118, 87, 180);
}

.drop a:last-child {
    color: darkred;
}

#confirm-window {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    min-width: 250px;
    box-shadow: -5px 5px 5px 5px black;
}

#newName, #confDel {
    height: 45px;
    margin-bottom: 1rem;
}

#newChar {
    position: relative;
    height: 250px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px;
}

#newChar i {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}