#pages .divider {
  width: 8.5in;
  margin-left: auto;
  margin-right: auto;
}

.center {
    width: 8.5in;
    margin: auto;
}

.page {
    background-color: white;
    width: 8.5in;
    height: 11in;
    padding: 2rem;
    border: 2px solid black;
}

.heading {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

#logo {
    margin-bottom: 8px;
    vertical-align: middle;
}

#title {
    margin-left: 1rem;
    font-size: 2.5rem;
    vertical-align: bottom;
}

/* arrow removal from https://www.geeksforgeeks.org/how-to-remove-the-default-arrow-icon-from-a-dropdown-list/ */
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
  }

  /* for IE10 */
  select::-ms-expand {
    display: none;
  }

label, .label {
    font-size: 12px;
    white-space: nowrap;
}

input {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border: 3px solid black;
    border-radius: 0;
    line-height: initial;
}

.box {
    width: 100%;
    border: 3px solid black;
    height: 60px;
}

#class, #multi {
    float: left;
    width: 70%;
    text-align-last: center;
}

#level {
    float: left;
    width: 30%;
    border-left: none;
}

#win, #lose, #pspeed, #sspeed {
    float: left;
    width: 50%;
}

#lose, #skills, #sspeed {
    border-left: none;
}

#won, #lost {
    border: none;
    width: 100%;
    height: 36px;
}

#savebox {
    float: left;
    width: 40%;
}

#skillbox {
    float: left;
    width: 60%;
    border-left: none;
}

#not-prof {
    height: 85%;
    border-bottom: 3px solid black;
    padding-left: 5px;
    padding-top: 2px;
}

#saves, #skills {
    height: 144px;
    text-align: left;
    font-size: 8px;
    line-height: 12px;
}

#skills-list li {
    height: 15px;
}

#stats {
    width: 50%;
    float: left;
    line-height: 17.75px;
}

#checks {
    width: 50%;
    float: left;
}

.savecheck {
    height: 16px;
    width: 14px;
    float: left;
    margin-left: .5rem;
    margin-top: 2px;
}

.save-bonus {
    height: 16px;
    width: 35px;
    float: left;
    margin-left: .5rem;
    margin-top: 2px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 12px;
}

#prof-bonus {
    height: 15%;
    padding-left: 5px;
}

#proflbl, #atkslbl, #insplbl {
    width: 100px;
    float: left;
    padding-top: 5px;
}

#insplbl {
    width: 60px;
}

#bonus, #atks, #insp {
    float: right;
    width: 45px;
    height: 18px;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 5px;
    font-size: 16px;
    padding-top: 3px;
}

#bonus {
    width: 30px;
    margin-right: 2px;
}

#skills-list {
    list-style-type: none;
    columns: 2;
    column-gap: 0;
    padding: 0;
    padding-top: 2px;
}

.skill-bonus {
    height: 12px;
    width: 20px;
    font-size: 10px;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 2px;
}

.skillcheck {
    width: 19px;
    height: 14px;
    font-size: 8px;
    margin-left: 3px;
    text-align-last: center;
    line-height: normal;
}

.skilllbl {
    font-size: 10px;
}

.skillstat {
    font-size: 8px;
    margin-left: 2px;
}

.bigBox {
    height: 50px;
    font-size: 32px;
}

.lilBox {
    height: 30px;
    border-top: none;
}

#atks-box, #insp-box {
    height: 25px;
    border-top: none;
    padding-left: 5px;
}

#atkbox, #invbox {
    height: 301px;
}

#atkbox, #attacklbl, #atks-box, #classlbl, #classbox {
    width: 60%;
    float: left;
}

#invbox, #invlbl, #insp-box, #featlbl, #featsbox {
    width: 40%;
    float: left;
    border-left: none;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    overflow: hidden;
    font-size: 12px;
}

#classbox, #featsbox, #otherbox {
    height: 150px;
}

#pages h2 {
    font-family: sans-serif;
}

#type {
    float: left;
    width: 80%;
}

#Ulevel {
    float: left;
    width: 20%;
    border-left: none;
}

#minionbox {
    height: 225px;
}

#image {
    height: 336px;
    overflow: hidden;
}

#Ufeatbox, #Uatkbox {
    height: 475px;
}

#backbox {
    height: 124px;
}

#idealbox, #flawbox {
    width: 50%;
    float: left;
    height: 104px;
}

#idealbox div, #flawbox div {
    height: 104px;
}

#flawbox div {
    border-left: none;
}

#personbox, #relatebox {
    height: 102px;
}

#infobox {
    height: 274px;
}

#image {
    position: relative;
}

#char-img {
    display: none;
    height: 330px;
    width: auto;
}

#img-input {
    display: none;
}

#blur {
    display: none;
    position: absolute;
    width: 358px;
    height: 330px;
    top: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.5);
}

#upload, #edit {
    display: none;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    cursor: pointer;
}

#reset {
    display: none;
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

#multi {
    display: none;
}

#meta {
    display: none;
}