.levels {
    border: 3px solid purple;
}

.levels th, .levels td {
    border-right: 1px solid purple;
}

.levels th:last-child, .levels td:last-child {
    border-right: unset;
}

.levels th:nth-child(2) {
    width: 0; /* Forces Energy column to fit content so Features can have the most space */
}

.levels a {
    text-decoration: none;
}

.levels tr {
    color: black;
}

.levels tbody tr {
    background-color: rgb(209, 209, 209);
}

#dio thead tr {
    background-color: rgb(240, 207, 99);
}

#santana thead tr {
    background-color: rgb(173, 50, 50);
}

#tarkus thead tr {
    background-color: rgb(109, 37, 53);
}

.sub-divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 875px){ 
    #list {
        position: unset;
    }
}