.list .listHead > *:not(:last-child) {
  border: none;
  border-bottom: 2px solid black;
}

.list .listHead {
  border-bottom: 2px solid var(--border);
}

.list .listHead > div > div:not(:last-child) {
  border-right: 1px solid black;
}

.list .listBody {
  height: calc(100% - var(--headHeight));
}

.list div {
  box-sizing: content-box;
}

.list .listBody:not(.borders) > div:not(:first-child) {
  border-top: 1px solid black;
}

.list .listBody.borders > div:not(:first-child) > div {
  border-top: 1px solid black;
}

.list .listBody.borders > div > div:not(:first-child) {
  border-left: 1px solid black;
}

.list .listBody .subItems > div {
  background-color: var(--color-jj-grayple-1);
}

.list .listBody .subItems > div:hover, .list .listBody .subItems > div:focus, .list .listBody .subItems > div[class*='font-bold'] {
  background-color: var(--color-jj-grayple-2);
}

.list .listBody .subItems > div[class*='font-bold']:hover, .list .listBody .subItems > div[class*='font-bold']:focus {
  background-color: var(--color-jj-grayple-3);
}

.list .listBody .subItems > div:not(:last-child) {
  border-bottom: 1px dashed black;
}

.subItems > div > div {
  padding-left: calc(0.5rem + 0.5rem * var(--depth));
}