h1 {
    margin: 1rem;
}

.content {
    margin-top: 0;
    padding: 1rem;
}

section {
    border-bottom: 2px dashed purple;
    margin: 10px;
}

section#last {
    border-bottom: none;
}

ol li {
    float: none;
}