.content {
    margin-top: 0;
}

.note {
    margin-bottom: 0;
}

#stone {
    border: 3px solid purple;
}

#stone th, #stone td {
    border-right: 1px solid purple;
}

#stone th:last-child, #stone td:last-child {
    border-right: unset;
}

#stone th:nth-child(1) {
    width: 87px;
}

#stone th:nth-child(2) {
    width: 200px;
}

#stone thead {
    background-color: rgb(196, 111, 218);
}

#stone tbody {
    background-color: rgb(209, 209, 209);
}

#corpse {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid purple;
    background-color: rgb(155, 130, 101);
    text-align: center;
}

#corpse td {
    border-right: 1px solid purple;
}

#heaven li {
    margin-bottom: 1rem;
}

#phrases {
    columns: 4;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid purple;
}

#phrases li {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    #phrases {
        columns: 2;
    }
}